/* 
CSS STRUCTURE 
  - GLOBAL
    - IMPORT, BODY, ROOT, BUTTONS ETC.
    - VARIABLES
    - TOP-BANNER (FREEE SHIPPING)
    - NAV
    - HERO-BANNER (GLOBAL)
    - PRODUCTS (GLOBAL)
    - FOOTER
    - MEDIA QUERY
  
  - SPECIFIC CSS
    - HOME
    - ALL ITEMS
    - WOMEN
    - STORY
    - CONTACT US
    - 404
*/

/* GLOBAL */

/* Import */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

/* Variables */
:root {
  --prim-color: #051e24;
  /* --cta-color: #1997b6; */
  --cta-color: #1a5f70;
  --prim-white: #f9faf8;
  --default-width: 1728px;
  /* 1728px used in Figma, 1920 on my laptop */
}

.banner-gradient {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

body {
  max-width: var(--default-width);
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  color: var(--prim-white);
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  background-color: var(--cta-color);
  color: var(--prim-white);
  height: 3.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28px;
  padding: 0px 20px 0 20px;
  border-color: var(--cta-color);
  border-style: solid;
}

.cta-buttons {
  display: inline-block;
  padding: 0.7rem 2rem;
  background-color: var(--cta-color);
  color: var(--prim-white);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}

.cta-buttons:hover {
  background: var(--prim-white);
  color: var(--cta-color);
  border-color: var(--prim-white);
  cursor: pointer;
}

.cta-buttons:active {
  box-shadow: 0 1px var(--prim-color);
  transform: translateY(4px);
}

button:hover {
  background: var(--prim-white);
  color: var(--cta-color);
  border-color: var(--prim-white);
  cursor: pointer;
}

button:active {
  box-shadow: 0 1px var(--prim-color);
  transform: translateY(4px);
}

img {
  max-width: 100%;
}

/* TOP-BANNER (Free shipping) */
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 10px 0px;
  max-width: var(--default-width);
  background-color: var(--prim-color);
  color: var(--prim-white);
  padding: 5px;
}

/* NAV (Navigation) and MENU */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  max-width: var(--default-width);
}

.mobile-menu {
  max-height: 0px;
  list-style: none;
  transition: all 1s cubic-bezier(0.325, 1, 0.22, 1);
  top: 140px;
  width: 100%;
  background-color: white;
  display: none;
  position: absolute;
  padding-top: 10px;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  padding-left: 1.5rem;
  z-index: 1;
}

.mobile-menu img {
  width: 17px !important;
  padding-right: 5px;
}

.mobile-menu li {
  color: var(--prim-color);
  font-size: 1rem;
  padding: 7px;
  display: flex;
  justify-content: center;
}

.mobile-menu li:last-of-type {
  margin-bottom: 0.625rem;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .mobile-menu {
  display: grid;
  height: auto;
  max-height: 17rem;
  transition: all 1s cubic-bezier(0.5, 1, 0.22, 1);
  grid-gap: 1rem;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 27px;
  width: 27px;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.line {
  background-color: var(--prim-color);
  width: 18px;
  height: 0.15rem;
  border-radius: 0.2rem;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  margin-left: 1.5rem;
}

.material-symbols-outlined {
  margin-right: 1.5rem;
}

input[type="checkbox"]:checked ~ label .line-1 {
  width: 22px;
  transform: translateX(-11px) rotate(-45deg) translateY(12px);
}

input[type="checkbox"]:checked ~ label .line-2 {
  opacity: 0;
}

input[type="checkbox"]:checked ~ label .line-3 {
  width: 22px;
  transform: translateX(-7px) rotate(45deg) translateY(-7px);
}

.mobile-top {
  width: var(--default-width);
  display: none;
  align-items: center;
  justify-content: space-between;
}

.mobile-top img {
  width: 7.5rem;
}

.material-symbols-outlined {
  font-size: 2.5rem !important;
  color: #0a3641;
}

.mobile-search {
  display: none;
  align-items: center;
  background-color: #acc2c8;
  height: 4.1rem;
  padding: 1.25rem;
  gap: 0.7rem;
}

.mobile-search input {
  border: none;
  border-radius: 5px;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

.menu-text li a {
  text-decoration: none;
  color: var(--prim-color);
  font-weight: bold;
  position: relative;
  display: block;
  padding: 8px 0;
  transition: 0.5s;
}

.menu-text li a::after {
  position: absolute;
  content: "";
  top: 90%;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--cta-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.menu-text li a:hover {
  color: var(--cta-color);
}

.menu-text li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.menu-left {
  display: flex;
  justify-content: space-between;
  min-width: 35%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15%;
}

.menu-right {
  display: flex;
  justify-content: space-between;
  min-width: 15%;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 15%;
}

/* HERO-BANNER (GLOBAL) */
.banner {
  width: 100%;
  margin: 0 auto;
  height: 34.6875rem;
}

.banner-text {
  position: relative;
  top: 14%;
  left: 12%;
  width: 25rem;
}

.banner p {
  color: var(--prim-white);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  margin-top: 1rem;
}

.banner button {
  margin-top: 10%;
}

/* PRODUCTS */
.card-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(516px, 1fr));
  grid-gap: 5em;
  justify-items: center;
  margin-bottom: 50px;
}

.all-items {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.all-items h1 {
  color: var(--prim-color);
}

.card {
  display: inline-block;
  width: 516px;
  height: 516px;
  position: relative;
}

.card h2 {
  color: var(--cta-color);
  font-size: 1rem;
  font-weight: 700;
  margin: 10px 0 5px 5px;
}

.card h3 {
  color: var(--prim-color);
  font-weight: 700;
  font-size: 1.2rem;
  margin: 5px 0 2px 5px;
}

.price {
  color: #0f4e5e;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 5px;
}

.card p {
  font-size: 1.1rem;
  margin-left: 5px;
  padding: 0.2rem 0 0.2rem 0;
}
.popup {
  display: none; /* Skjult som standard */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -39%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
  display: flex;
}

.popup-content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  gap: 1.5rem;
  margin-top: 5%;
}

.popup-content-left {
  width: 100%;
  margin-right: 5%;
}

.close {
  cursor: pointer;
  font-size: 2.5rem;
  position: absolute;
  left: 95%;
  top: 0;
}

.size-container {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

.size-label {
  border: 1px solid black;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
}

input[type="radio"]:checked + .size-label {
  background-color: var(--cta-color);
  color: var(--prim-white);
}

#popupSize {
  margin-top: 5px;
}

#popupPrice {
  font-size: 2rem;
  font-weight: bold;
}
.product-btn {
  position: absolute;
  top: 50%;
  left: 37%;
}

.product-placeholder .product-btn {
  display: none;
}

.product-placeholder:hover .product-btn {
  display: inline-block;
}

.product-placeholder {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* FOOTER */
footer {
  color: var(--prim-white);
  background: var(--prim-color);
}

.footer-desktop {
  display: flex;
  padding: 50px 0 100px 0;
}

footer h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 10px;
}

footer p {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.9rem;
}

.footer-some {
  padding-left: 8%;
  width: 20%;
}

.footer-some a img {
  display: inline;
  padding-top: 20px;
  padding-right: 20px;
  text-align: center;
}

.footer-some-icons {
  display: flex;
  align-items: center;
}

.footer-text {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.footer-contact {
  padding-left: 150px;
}

hr {
  border-top: 1px solid var(--prim-white);
}

.footer-cpright {
  width: auto;
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 0;
}

.footer-cpright img {
  padding: 0px 10px 0 10px;
  position: relative;
  top: 3px;
}

.footer-mobile {
  display: none;
}

.footer-mobile-some {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.footer-mobile-some-icons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin: 30px 0 50px 0;
}

.footer-mobile-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.footer-mobile a {
  line-height: 41px;
}

.footer-mobile-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-mobile-contact p {
  text-align: center;
}

/* GLOBAL END */

/* HOME */
#banner-home {
  background-image: url(/images/home/hero-picture\(1\).png);
  background-position: center;
}

.cta-header {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.cta-pictures {
  display: flex;
  height: 62.375rem;
  justify-content: flex-end;
  gap: 10%;
  margin: 4%;
}

.cta-left {
  height: 100%;
  width: 100%;
  background-image: url(/images/home/woman-forrest.png);
  background-position: top;
  background-size: cover;
}

.cta-right {
  height: 100%;
  width: 100%;
  background-image: url(/images/home/men-forrest.png);
  background-position: top;
  background-size: cover;
}

.cta-pictures button {
  position: relative;
  left: 40%;
  top: 45%;
  width: 9.375rem;
}

/* Carousel / Slider of products */
.slider {
  height: 37.5rem;
}

.slider-container {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 50px auto;
  max-width: var(--default-width);
  position: relative;
}

.carousel-item {
  height: auto;
  opacity: 0;
  position: absolute;
  transition: all 0.2s ease-in-out;
  width: 25%;
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
}

.carousel-item-1 {
  left: 20%;
  opacity: 0.3;
  transform: translateX(-50%);
}

.carousel-item-2,
.carousel-item-3,
.carousel-item-4 {
  height: auto;
  opacity: 0.9;
  width: 25%;
  z-index: 1;
}

.carousel-item-2 {
  left: 35%;
  transform: translateX(-50%);
}

.carousel-item-3 {
  height: auto;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  z-index: 2;
}

.carousel-item-4 {
  left: 70%;
  transform: translateX(-50%);
}

.carousel-item-5 {
  left: 85%;
  opacity: 0.3;
  transform: translateX(-50%);
}

/* Slider buttons */

.slider-controls button {
  background-color: transparent;
  color: var(--cta-color);
  height: 55px;
  width: 55px;
  border-radius: 100%;
  padding: 0;
  z-index: 2;
}

.slider-controls button:hover {
  background: var(--cta-color);
  color: var(--prim-white);
  border-color: var(--cta-color);
}

.slider-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 15px 0 15px;
}

/* Banner with news*/
.news-banner {
  background-image: url(/images/home/dun-family.png);
  background-position: top;
  height: 58.875rem;
  width: 100%;
}

.news-banner h2 {
  position: relative;
  text-transform: uppercase;
  color: var(--prim-color);
  width: 30%;
  top: 12%;
  left: 70%;
  font-size: 3rem;
}

.cta-buttons-banner {
  position: relative;
  display: none;
  top: 35%;
  left: 40%;
}

.newsletter-sub {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  color: var(--prim-color);
  font-weight: 700;
  justify-content: space-between;
  gap: 10px;
}

.newsletter-sub-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}

.newsletter-sub-text h3 {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.newsletter-sub-text p {
  font-size: 1.1rem;
  line-height: 1.3rem;
}

.newsletter-sub-signup {
  display: grid;
  grid-template-columns: 370px 1fr;
  margin-right: 2.5rem;
}

.newsletter-sub input {
  height: 3.75rem;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 300;
  padding-left: 2%;
  text-transform: capitalize;
  border: 1px solid #949494;
}

.newsletter-sub button {
  height: 3.75rem;
}

.newsletter-sub button:hover {
  box-shadow: var(--prim-color) 2px 2px 2px;
  background-color: var(--cta-color);
  color: var(--prim-white);
  border-color: transparent;
}

/* HOME END */

/* WOMEN */
#banner-women {
  background-image: url(/images/women/hero-women.png);
  background-position: center;
}

.banner-text-wmn {
  position: relative;
  top: 14%;
  left: 50%;
  width: 45rem;
}

.banner-text-wmn-mobile {
  display: none;
}

.banner-text-wmn-mobile p {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  margin: 3% 8% 3% 11%;
  letter-spacing: 0.08em;
}

#header-content {
  display: flex;
  justify-content: center;
  margin: 3.75rem;
}

.content {
  display: flex;
  justify-content: center;
  gap: 9%;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.content-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 690px;
  margin-bottom: 4rem;
}

.content h3 {
  margin: 15px;
  font-size: 1.3rem;
  font-weight: 700;
}

.content p {
  margin: 10px 0px 20px 0px;
  width: 90%;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
}

/* WOMEN END*/

/* CONTACT US */
#banner-contact {
  background-image: url(/images/contact/Hero.png);
  background-position: bottom;
}

.cta-p {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.faq-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.faq-nav li {
  padding: 10px;
  color: #0f4e5e;
  border: #0f4e5e 1.5px solid;
  margin: 16px;
  font-weight: 870;
}

.faq-nav li:hover {
  color: var(--prim-white);
  background-color: #0f4e5e;
}

#hr-grey-large {
  position: relative;
  width: 90%;
  left: 5%;
  margin: 50px 0 50px 0;
  color: #c6c6c6;
}

.form-container form {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 10px;
  width: 100%;
  justify-content: center;
  justify-items: end;
}

.form-container label {
  margin-top: 10px;
  margin-right: 25px;
}

.form-container button {
  width: 50%;
}

input {
  background-color: #e5e7eb;
  padding: 10px;
  border: 1px solid var(--prim-color);
  width: 100%;
  font-size: 1.1rem;
}

input [type="text"],
textarea {
  padding: 10px;
  height: 7rem;
  border: 1px solid var(--prim-color);
  box-sizing: border-box;
  margin: 6px 0 16px 0;
  resize: vertical;
  background-color: #e5e7eb;
  width: 100%;
  font-size: 1.1rem;
}

form {
  font-size: 1.2rem;
  color: var(--prim-color);
}

.cta-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.cta-container {
  display: flex;
  margin: 50px;
  align-items: flex-start;
  justify-content: center;
  gap: 10%;
  flex-wrap: wrap;
}

.cta-container h3 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--prim-color);
  line-height: 37px;
  margin-bottom: 1.5rem;
}

.cta-contact {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 21px;
  color: var(--prim-color);
}

/* CONTACT US END*/

/* STORY */
#banner-story {
  background-image: url(/images/story/Hero.png);
  background-position: bottom;
}

.story-norm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6.2rem;
  padding: 4rem 0rem 4rem 0rem;
}

.story-rev {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6.2rem;
  padding: 4rem 0rem 4rem 0rem;
  flex-direction: row-reverse;
}

.story-text {
  max-width: 684px;
  letter-spacing: 0.05em;
  padding: 0.5rem 2rem 0rem 2.5rem;
}

.story-text p {
  padding-top: 1rem;
}

/* STORY END*/

/* 404 */
.not-found {
  background-image: url(/images/404/404.png);
  height: 1255px;
  width: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found h2 {
  margin: 70px 0 30px 0;
  font-size: 4rem;
  font-weight: 700;
  color: var(--prim-white);
  text-shadow: var(--prim-color) 5px 6px 8px;
  text-align: center;
}

.not-found p {
  margin: 5px 0 5px 0;
  font-size: 1.5rem;
  font-weight: 700;
  width: 65%;
  color: var(--prim-white);
  text-shadow: var(--prim-color) 2px 4px 4px;
  letter-spacing: 0.1rem;
}

/* 404 END */

/*MEDIA QUERY */

@media (min-width: 2900px) {
  body::after {
    content: "Shitpomfritt! This is a big screen!";
    color: var(--prim-color);
    display: block;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 3rem;
    font-size: 6.5vh;
    transform: rotate(90deg);
    text-shadow: var(--cta-color) 3px 3px 0px;
    pointer-events: none;
  }
}

@media (max-width: 1607px) {
  html {
    font-size: 14px;
  }

  /* STORY */
  .last-story {
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    top: 1.5px;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 12px;
  }

  .cta-pictures {
    height: 48.63rem;
  }
}

@media (max-width: 1235px) {
  .banner-text-wmn {
    width: 30rem !important;
  }

  .cta-pictures {
    height: 38rem;
  }

  /* PRODUCTS*/

  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(258px, 1fr));
    grid-gap: 2em 4.5em;
  }

  .card {
    height: 319px;
    width: 258px;
    pointer-events: none;
  }

  .product-btn {
    display: none;
  }

  .product-btn:hover {
    display: none;
  }
}

@media (max-width: 950px) {
  /* GLOBAL */
  nav {
    min-height: 0;
    margin-bottom: 5px;
  }

  .cta-buttons-home {
    top: 100%;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    left: 0;
  }

  .cta-buttons {
    font-size: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  .top {
    height: 6.5rem;
    font-size: 1.5rem;
    text-align: center;
    align-items: flex-end;
    padding-bottom: 10px;
  }

  .menu {
    display: none;
  }

  .mobile-top {
    display: flex;
  }

  .mobile-search {
    display: flex;
  }

  .banner {
    display: flex;
    flex-direction: column;
  }

  .banner-text {
    left: 0;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 2.5rem 2.5rem;
    z-index: 2;
    left: 3%;
    top: 50%;
  }

  .banner-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    z-index: 1;
  }

  .cta-pictures {
    height: 28rem;
  }

  .carousel-item-5,
  .carousel-item-1 {
    opacity: 0.2;
  }

  .carousel-item-2,
  .carousel-item-4 {
    opacity: 0.8;
    width: 30%;
  }

  .carousel-item-3 {
    width: 50%;
  }

  .news-banner {
    background-image: url(/images/home/dun-family-mobile.png);
    background-position: top;
    background-size: cover;
  }

  .news-banner #news-banner-teaser {
    display: none;
  }

  .cta-buttons {
    display: inline-block;
  }

  .news-banner h2 {
    left: 40%;
  }

  .newsletter-sub {
    display: none;
  }

  /* WOMEN*/
  .banner-text-wmn {
    top: 80%;
    left: 10%;
    z-index: 4;
  }

  #banner-women {
    background-position: left;
    height: 555px;
    width: 100%;
  }

  .banner-text-wmn p {
    display: none;
  }

  .banner-text-wmn h1 {
    display: flex;
    font-size: 4rem;
    width: 120%;
  }

  .banner-text-wmn-mobile {
    display: block;
  }

  /* Contact us */
  .header-contact-us {
    display: flex;
    flex-direction: column;
  }

  .form-container form {
    grid-template: none;
    justify-items: start;
    justify-content: normal;
    padding: 10px;
    background-color: #d9d9d9;
  }

  .form-container input,
  textarea {
    background: #ffff;
    border-color: #0f4e5e;
  }

  .form-container button {
    width: 100%;
  }

  #banner-contact {
    background-size: cover;
    background-position: center;
  }

  /*FOOTER*/

  .footer-desktop {
    display: none;
  }

  footer h3 {
    line-height: 41px;
  }

  .hr-desktop {
    display: none;
  }

  .footer-cpright p {
    font-weight: 700;
    margin-bottom: 20px;
  }

  .footer-mobile {
    display: block;
  }

  .not-found p {
    letter-spacing: 0.3em;
    text-align: center;
    width: 45%;
  }

  .not-found {
    justify-content: space-around;
  }
}

@media (max-width: 570px) {
  .slider {
    height: 25rem;
  }

  .banner-text-wmn h1 {
    font-size: 3rem;
    width: 100%;
    padding-left: 10%;
  }

  .banner-text-wmn {
    left: 0;
  }
}
