* {
    padding: 10px;
    margin: 0;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
#web-security-question {
    font-weight: bold;
    font-size: 1.2rem;
    width: 80%;
    line-height: 1em;
}
#web-security-answer {
    width: 80%;
    line-height: 1.8em;
}
@media only screen and (min-width: 1200px){
    body {
        width: 1200px;
    }
    
}